
.loading_splash
{
	width:100%;
	height:100%;
	background-image:url(../images/amun_loading.png);
	background-repeat:no-repeat;
	background-position:50% 50%;
}

.loading
{
	font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size:11px;
}

.content
{
	font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size:11px;
	padding:4px;
}

.backtrace
{
	padding:4px;
	font-size:1.2em;
}

.sourcecode
{
	font-family:'Courier New',Courier,monospace;
	font-size:1em;
}

.dashboard-gadget
{
	font-family:'Lucida Grande',Tahoma,Arial,sans-serif;
	font-size:12px;
	margin-bottom:10px;
}

.dashboard-gadget p
{
	margin:4px;
}

.x-form-item-label
{
	overflow:hidden;
}


/* icons */
.add { background-image:url(../images/icons/add.png) !important; }
.delete { background-image:url(../images/icons/delete.png) !important; }
.edit { background-image:url(../images/icons/edit.png) !important; }
.install { background-image:url(../images/icons/install.png) !important; }
.key { background-image:url(../images/icons/key.png) !important; }
.logout { background-image:url(../images/icons/logout.png) !important; }
.page { background-image:url(../images/icons/page.png) !important; }
.refresh { background-image:url(../images/icons/refresh.png) !important; }
.search { background-image:url(../images/icons/search.png) !important; }
.uninstall { background-image:url(../images/icons/uninstall.png) !important; }


